@font-face {
  font-family: "Not Comic";
  src: url("NotComic.otf") format("opentype");
  font-style: normal;
}

body {
  font-family: "Not Comic", "Times New Roman", Times, serif;
  background-color: lemonchiffon;
  color: rgb(52, 52, 52);
  display: flex;
  justify-content: center;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  line-height: 1.4;
}

.flex-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 2rem 10px 0 10px;
	height: 80vh;
}

p {
  margin: 10px 0;
  padding: 0;
}

ul {
	padding: 0 0 1rem 0rem;
}

li {
  padding: 1rem;
  margin-top: 5px;
  border: 1px dashed rgb(29, 29, 29);
  list-style: none;
}
